<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.md.member.dao.AddressMapper">
	<resultMap id="BaseResultMap" type="com.md.member.model.Address">
		<id column="id" property="id" />
		<result column="consigeeName" property="consigeeName" />
		<result column="phone" property="phone" />
		<result column="address" property="address" />
		<result column="memberId" property="memberId" />
		<result column="isDefault" property="isDefault" />
	</resultMap>
</mapper>