<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.md.order.dao.OrderItemMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.md.order.model.OrderItem">
		<id column="id" property="id" />
		<result column="goodsId" property="goodsId" />
		<result column="productId" property="productId" />
		<result column="goodsName" property="goodsName" />
		<result column="unitPrice" property="unitPrice" />
		<result column="quantity" property="quantity" />
		<result column="actualPrice" property="actualPrice" />
		<result column="orderId" property="orderId" />
		<result column="actualPay" property="actualPay" />
		<result column="originalPay" property="originalPay" />
		<result column="refundStatus" property="refundStatus" />
		<result column="refundQuantity" property="refundQuantity" />
		<result column="refundAmount" property="refundAmount" />
	</resultMap>

	<select id="selectRefundStatus" resultType="string">
		SELECT 1 FROM
		shop_order_item WHERE orderId = #{orderId} AND refundStatus=3
		LIMIT 1;
	</select>
</mapper>
