<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.md.cart.dao.CartItemMapper">
	<resultMap id="BaseResultMap" type="com.md.cart.model.CartItem">
		<id column="id" property="id" />
		<result column="cartId" property="cartId" />
		<result column="productId" property="productId" />
		<result column="priceTagId" property="priceTagId" />
		<result column="quantity" property="quantity" />
		<result column="status" property="status" />
	</resultMap>

</mapper>